:root {
  --body-font-family: "Peyda", system-ui, -apple-system, "Segoe UI", Roboto;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #303030;
  --body-bg: #F2F2F2;
  --body-text-align: right;
  --border-radius: 1rem;
  --border-radius-sm: 0.75rem;
  --box-shadow: 0 0 0.5rem rgba(139, 139, 139, 0.35);
  --box-shadow-sm: 0 0 0.25rem rgba(139, 139, 139, 0.25);
  --primary-dark: #C3226D;
  --primary-main: #FF52A2;
  --primary-light: #FF7AB8;
  --secondary-dark: #223391;
  --secondary-main: #2B41B8;
  --secondary-light: #FFA2A2;
  --contrast-color: #FFFBFB;
  --text-primary: #303030;
  --text-secondary: #B0ADAA;
  --text-accent: #4555AC;
  --success: #2e7d32;
  --error: #d32f2f;
  --warning: #ed6c02;
  --information: #0288d1;
  --white: #fff;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  text-align: var(--body-text-align);
}